@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Josefin+Sans:wght@500&family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Josefin+Sans:wght@500&family=Kristi&family=Zilla+Slab:wght@300&display=swap');

.navbar-brand{
  font-family:'kristi';
}
body{
  background-color: #D4D6DA;
  font-family: 'Zilla Slab';
}
p, li{
  font-size: 25px;
}
.navbar-text{
  align-items: right;
}
.navbar{
  background-color: #A4D2EF;
}

.kosar{
    height: 40px;
    width: 40px;
   float: right;
}
.bannerfooldal{
    background-image: url(../pics/fooldalbanner.jpg);
    height: 400px;
    background-position: center center;
    background-size: cover;
    
}
.bannerkapcsolatok{
  background-image: url(../pics/kapcsolatokbanner.jpg);
  height: 400px;
  background-position: center center;
  background-size: cover;
  
}
h4{
    text-align: right;
}
.fooldal1{
    border: 1px solid black;
    border-radius: 25px;
}
.leiras{
    line-height: 30px;
    text-align: justify;
}
h3{
    color: #2DAEFF;

}
.felsorolas
{
    text-align: justify;

}
h2{
    text-align: center;
}
footer{
  height: auto;
  background-color: #A4D2EF;
  padding-top: 20px;
}
footer li{

  list-style-type: none;
  font-size: 20px;
}
.c{
  font-size: 20px;
  text-align: center;
}
.kapcsolat{

  text-align: center;

}
#basic-addon2{
  background-color: #D4D6DA;
  color: black;
}
.fooldalikonok:hover{
  border-radius: 20px;
  border: #2DAEFF 5px solid;
}
li:hover{
  text-decoration: underline;
}