<div class="container-fluid">
	<div class="row mt-5 justify-content-center">
		<h1 class="text-center">Kosár</h1>
		
		<div class="col-12 col-lg-11 col-xxl-10">
			<table class="table table-bordered table-striped table-hover mt-3">
				<thead>
					<tr>
						<th class="text-nowrap"
								ng-class="{'text-end': ['flights_id','quantity','price','total'].includes(k)}" 
								ng-repeat="(k, v) in header">
							{{v}}
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-if="$root.cart && $root.cart.length"
							ng-repeat="x in $root.cart track by $index"
							data-index="{{$index}}">
						<td ng-class="{'text-end': ['flights_id','quantity','price','total'].includes(k)}"
								ng-repeat="(k, v) in header">
							{{['flights_id','quantity','price','total'].includes(k) ? (x[k] | numSep) : x[k]}}
						</td>
						<td class="text-center">
							<span class="cursor-pointer text-danger" 
								ng-click="deleteCartItem($event)">
								töröl
							</span>
						</td>
					</tr>
					<tr ng-if="!$root.cart || !$root.cart.length">
						<td colspan="8" class="text-center">A kosár üres</td>
					</tr>
				</tbody>
				<tfoot ng-if="$root.cart && $root.cart.length">
					<tr>
						<th colspan="6" class="text-end">Mindösszesen:</th>
						<th class="text-end">{{$root.sum | numSep}}</th>
						<th></th>
					</tr>
				</tfoot>
			</table>
		</div>

		<form name="dataApplyFor" 
					class="mt-3 col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
	
			<div class="row">

				<!-- name -->
				<div class="mb-3 col-12 col-md-6">
					<label for="name" class="form-label">Név:</label>
					<input class="form-control"
								 id="name"
								 name="name" 
								 type="text"
								 spellcheck="false" 
								 autocomplete="off"
								 maxlength="100"
								 ng-model="model.name"
								 ng-init="model.name=null"
								 required>
				</div> 

				<!-- Country code -->
				<div class="mb-3 col-12 col-md-6">
					<label for="country_code" class="form-label">Telefonszám:</label><br>
					<span>+</span>
					<input class="form-control d-inline-block mx-1"
								id="country_code"
								name="country_code" 
								type="text"
								style="max-width:45px;"
								spellcheck="false" 
								autocomplete="off"
								maxlength="3"
								ng-model="model.country_code"
								ng-init="model.country_code='36'"
								ng-pattern="/^$|^(?!(0))[0-9]{1,3}$/"
								required>
	
					<!-- Phone -->
					<input class="form-control d-inline-block"
								id="phone"
								name="phone" 
								type="text"
								style="max-width:150px;"
								spellcheck="false" 
								autocomplete="off"
								maxlength="10"
								ng-model="model.phone"
								ng-init="model.phone=null"
								ng-pattern="/^$|^(?!(0))[0-9]{7,10}$/"
								required>
				</div>
			</div>
	
			<div class="row">

				<!-- Email -->
				<div class="mb-3 col-12 col-md-6">
					<label for="email" class="form-label">Email:</label>
					<input class="form-control"
								id="email"
								name="email" 
								type="email"
								spellcheck="false" 
								autocomplete="off"
								maxlength="50"
								ng-model="model.email"
								ng-init="model.email=null"
								ng-pattern="/^([a-z0-9_.+-])+\@(([a-z0-9-])+\.)+([a-z0-9]{2,4})+$/"
								required>
				</div>
			
				<!-- Address -->
				<div class="mb-3 col-12 col-md-6">
					<label for="address" class="form-label">Lakcím:</label>
					<input class="form-control"
								id="address"
								name="address" 
								type="text"
								spellcheck="false" 
								autocomplete="off"
								maxlength="200"
								ng-model="model.address"
								ng-init="model.address=null"
								required>
				</div>
			</div>
	
			<div class="row">

				<!-- Card name -->
				<div class="mb-3 col-12 col-md-6">
					<label for="card_name" class="form-label">Kártyán szereplő név:</label>
					<input class="form-control"
								 id="card_name"
								 name="card_name" 
								 type="text"
								 spellcheck="false" 
								 autocomplete="off"
								 maxlength="100"
								 ng-model="model.card_name"
								 ng-init="model.card_name=null"
								 required>
				</div>

				<!-- Card number -->
				<div class="mb-3 col-12 col-md-6">
					<label for="card_number" class="form-label">Kártyaszám:</label>
					<input class="form-control"
								 id="card_number"
								 name="card_number" 
								 type="text"
								 spellcheck="false" 
								 autocomplete="off"
								 maxlength="19"
								 ng-model="model.card_number"
								 ng-init="model.card_number=null"
								 placeholder="XXXX-XXXX-XXXX-XXXX"
								 required>
				</div> 
			</div>

			<div class="row">

				<!-- Year/Month -->
				<div class="mb-3 col-12 col-sm-6">
					<label for="year" class="form-label text-black d-block">
						Lejárat:
					</label>
					<select class="form-select w-auto d-inline-block" 
									aria-label="year"
									id="year"
									name="year"
									ng-model="model.year"
									ng-init="model.year=null"
									ng-options="x as x for x in years"
									required>
						<option hidden disabled selected value>
							-- év --
						</option>
					</select>
					<label for="month" class="form-label text-black d-inline-block">
						/
					</label>
					<select class="form-select w-auto d-inline-block"
									name="month"
									id="month"
									ng-model="model.month"
									ng-init="model.month=null"
									ng-options="x as x for x in months"
									required>
						<option hidden disabled selected value>
							-- hó --
						</option>
					</select>
				</div>
				
				<!-- Verification code -->
				<div class="mb-3 col-12 col-sm-6">
					<label for="cvv" class="form-label text-black">
						Ellenőrző kód:
					</label>
					<input class="form-control" 
								 type="text" 
								 placeholder="CVV"
								 name="cvv"
								 id="cvv"
								 ng-model="model.cvv"
								 ng-init="model.cvv=null"
								 ng-pattern="/^\d{3,3}$/"
								 maxlength="3"
								 required
								 style="max-width:152px;">
				</div>
			</div>

			<!-- Accept button -->
			<div class="row my-4 justify-content-end">
				<button type="button" 
								class="btn btn-primary px-5 w-auto me-3"
								ng-disabled="dataApplyFor.$invalid || !$root.sum"
								ng-click="applyFor()">
					Fizetés
				</button>
			</div>
		</form>
	</div>
</div>
