<nav class="navbar navbar-expand-xl"  
		 style="background-color: #A4D2EF;"
		 ng-bs-navbar-collapse>

	<div class="container-fluid">
		<a class="navbar-brand" ui-sref="home"> Fly<br>Tech </a>
		<a class="navbar-brand" href="#"> 
			<img ng-src="./pics/planes.svg" alt=""> 
		</a>
		<button class="navbar-toggler" 
						type="button" 
						data-bs-toggle="collapse" 
						data-bs-target="#navbarNavDropdown" 
						aria-controls="navbarNavDropdown" 
						aria-expanded="false" 
						aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" 
						 aria-current="page" 
						 ui-sref="home"
						 ui-sref-active="active">
						Főoldal
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" 
						 ui-sref="flights"
						 ui-sref-active="active">
						Járatok
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" 
						 ui-sref="test_drive"
						 ui-sref-active="active">
						Tesztvezetés
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" 
						 ui-sref="offer"
						 ui-sref-active="active">
						Ajánlatkérés
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" 
						 href="#" 
						 role="button" 
						 data-bs-toggle="dropdown" 
						 aria-expanded="false">
						FlyTech
					</a>
					<ul class="dropdown-menu">
						<li class="nav-item">
							<a class="dropdown-item" 
								 ui-sref="relationship"
								 ui-sref-active="active">
								Kapcsolat
							</a>
						</li>
						<li class="nav-item">
							<a class="dropdown-item" 
								 ui-sref="about_us"
								 ui-sref-active="active">
								Rólunk
							</a>
						</li>
						<li class="nav-item">
							<a class="dropdown-item" 
								 ui-sref="opinions"
								 ui-sref-active="active">
								Vélemények
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="navbar-nav ms-auto">
				<li class="nav-item me-3">
					<div class="me-2 d-inline-block fs-5"
							 ng-if="$root.user.id">
						{{$root.user.name}}
					</div>
					<div id="regisztracio"
							 class="d-inline-block pt-1 cursor-pointer"
							 data-bs-toggle="modal" 
							 data-bs-target="#loginModal"
							 ng-if="!$root.user.id">
						<i class="fa-solid fa-user fa-lg mt-4"></i>
					</div>
					<div id="kijelenkezes"
							 class="d-inline-block pt-1 cursor-pointer"
							 ng-if="$root.user.id"
							 ng-click="logout()">
						<i class="fa-solid fa-user fa-lg mt-4"></i>
					</div> 
				</li>
				<li class="nav-item">
					<a class="nav-link" 
						 ui-sref="cart"
						 ui-sref-active="active"
						 ng-disabled="!$root.user.id">
						<img ng-src="./pics/shopping-cart.svg" class="kosar">
						<span class="cartCount">{{$root.cart.length}}</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>