<div class="{{flight.city}}-banner mb-3"></div>

<div class="container text-center my-5">
	<h1 class="mt-5">{{flight.city}}</h1>

  <div class="row justify-content-start">

    <div class="my-3 col-6">
      <select class="form-select"
              ng-options="item as item for item in names track by item" 
              ng-model="model.selected">
        <option selected value>
          -- kérem válasszon --
        </option>
        <h2>{{model.select.direction}}</h2>
      </select>
    </div>
  </div>

	<div class="row mt-5">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th ng-repeat="x in header">{{x}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="data && data.length && 
                  (!model.selected || model.selected === x.name)"
            data-id="{{x.flights_id}}"
            ng-click="toCart($event)"
            ng-repeat="x in data">
          <td ng-repeat="(k, v) in x"
              ng-if="!['name','flights_id'].includes(k)">{{v}}</td>
        </tr>
        <tr ng-if="!data || !data.length">
          <td colspan="{{header.length}}">üres</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>