<div class="bannerajanlatkeres mb-5"></div>
<div class="container">
		<h1 class="mt-5 text-center">Ajánlatkérés</h1>



		<!-- Form for test drive -->
	<div class="row justify-content-center mb-3">
		<form name="dataApplyFor" 
					class="col-12 col-sm-11 col-md-10 col-lg-8 col-xl-6">

			<!-- Depature -->
			<div class="row">
				<div class="col-md-6">
					<!-- Depature -->
					<label for="depaure" class="form-label">Indulás:</label>
					<input class="form-control"
					id="depature"
					name="depature" 
					type="date"
					spellcheck="false" 
					autocomplete="off"
					maxlength="100"
					ng-model="model.depature"
					ng-init="model.depature=null"
					required>
				</div>
				<div class="col-md-6">
					<!-- Arrive -->
					<label for="arrive" class="form-label">Érkezés:</label>
					<input class="form-control"
					id="arrive"
					name="arrive" 
					type="date"
					spellcheck="false" 
					autocomplete="off"
					maxlength="100"
					ng-model="model.arrive"
					ng-init="model.arrive=null"
					required>
				</div>

			</div>


			<!-- Name -->
			<div class="mb-3">
				<label for="u_name" class="form-label">Név:</label>
				<input class="form-control"
							 id="u_name"
							 name="u_name" 
							 type="text"
							 spellcheck="false" 
							 autocomplete="off"
							 maxlength="100"
							 ng-model="model.u_name"
							 ng-init="model.u_name=$root.user.name"
							 required>
			</div>

			<!-- Phone -->
			<div class="mb-3">
				<label for="country_code" class="form-label">Telefonszám:</label>
				<div class="mb-3">

					<!-- Country code -->
					<span>+</span>
					<input class="form-control d-inline-block mx-1"
								id="country_code"
								name="country_code" 
								type="text"
								style="max-width:60px;"
								spellcheck="false" 
								autocomplete="off"
								maxlength="3"
								ng-model="model.country_code"
								ng-init="model.country_code=$root.user.country_code"
								ng-pattern="/^$|^(?!(0))[0-9]{1,3}$/"
								required>

					<!-- Phone -->
					<input class="form-control d-inline-block"
								id="phone"
								name="phone" 
								type="text"
								style="max-width:150px;"
								spellcheck="false" 
								autocomplete="off"
								maxlength="10"
								ng-model="model.phone"
								ng-init="model.phone=$root.user.phone"
								ng-pattern="/^$|^(?!(0))[0-9]{7,10}$/"
								required>
				</div>
			</div>

			<!-- Email -->
			<div class="mb-3">
				<label for="email" class="form-label">Email:</label>
				<input class="form-control"
							 id="email"
							 name="email" 
							 type="email"
							 spellcheck="false" 
							 autocomplete="off"
							 maxlength="50"
							 ng-model="model.email"
							 ng-init="model.email=$root.user.email"
							 ng-pattern="/^([a-z0-9_.+-])+\@(([a-z0-9-])+\.)+([a-z0-9]{2,4})+$/"
							 required>
			</div>

			<!-- Address -->
			<div class="mb-3">
				<label for="address" class="form-label">Lakcím:</label>
				<input class="form-control"
							 id="address"
							 name="address" 
							 type="text"
							 spellcheck="false" 
							 autocomplete="off"
							 maxlength="200"
							 ng-model="model.address"
							 ng-init="model.address=$root.user.address"
							 required>
			</div>

			<!-- Comment -->
			<div class="mb-3">
				<label for="comment" class="form-label">Megjegyzés:</label>
				<textarea id="comment"
									name="comment"
									class="form-control"
									spellcheck="false" 
									autocomplete="off"
									rows="3"
									ng-model="model.comment"
									ng-init="model.comment=null"
									required>
				</textarea>
			</div>

			<!-- Accept button -->
			<div class="my-4 text-end">
				<button type="button" 
								class="btn btn-primary px-5"
								ng-disabled="dataApplyFor.$invalid"
								ng-click="applyFor()">
					Küldés
				</button>
			</div>
		</form>
	</div>

	
	<div class="row">
		<hr>
		<div class="col-md-4">
			<img ng-src="./pics/ajanlatkeres.jpg" alt="Tesztvezetés" class="img-fluid">
		</div>

		<div class="col-md-8">
			<p >
				Itt lehetősége van ügyfeleinknek, vállalkozásoknak és szervezeteknek arra, hogy <b>egyedi ajánlatot</b> kérjenek repülőgép bérlésére.
			</p>        
			<p >
				Legyen szó üzleti útról, csapatépítő rendezvényről vagy akár személyes kalandról, <b>mi állunk rendelkezésére</b>, hogy segítsünk megtervezni és megvalósítani az <b>Ön által képzelt repülési élményt</b>.
			</p> 
			<p >
				A repülőgép bérlésével kapcsolatban széles választékban állunk ügyfeleink rendelkezésére. 
			</p>
		</div>

		<h4 class="mt-4">Nálunk nincsenek merev keretek, ami az időtartamot illeti.</h4>
			<p >
			Lehetőség van akár <b>rövid távú</b> bérlésre is, például egy napra vagy egy hétvégére, de szívesen állunk rendelkezésére <b>hosszabb távú</b> bérlések esetén is, akár több napra, hetekre vagy hónapokra. Az időtartamot rugalmasan alakíthatjuk az Ön igényeihez és terveihez igazítva.
			</p>        
			<p >
			Bármilyen <b>speciális igénye</b> van, mi állunk rendelkezésére, hogy megfelelően szolgálhassuk ki. Legyen szó egyedi repülési útvonalról, különleges felszerelésről vagy személyre szabott kiszolgálásról, csapatunk készen áll arra, hogy segítsen az Ön elképzeléseinek megvalósításában.
			</p> 
	
	</div>
</div>