<div class="bannerfooldal"></div>
<div class="container">
	<div class="row mt-5">
		<h1 class="text-center">Options</h1>

		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-3 g-3 mt-5">
			<div class="col"
					 ng-repeat="x in data track by $index">
				<div class="card h-100 shadow-sm-bottom-end">
					<img ng-src="./pics/{{x.img}}" 
							 class="card-img-top " 
							 alt="...">
					<div class="card-body">
						<ul>
							<li ng-repeat="ratings"><i class="fas fa-star"></i></li>
						</ul>
						<h5 class="card-title">{{x.name}}</h5>
						<p class="card-text velemenyek">{{x.review}}</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>